@media (max-width: 575.98px) {
    .google-maps {
        position: relative;
        padding-bottom: 75%; 
        height: 0;
        overflow: hidden;
      }
      
    .google-maps > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .bg-service {
        background: linear-gradient(#11111190, #11111190) , url('/img/bw-9.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
    }

    .v-mobile {
        width: 80%;
        margin: auto;
    }

    video {
        height: 250px;
        width: 300px;
    }

    #header {
        background: linear-gradient(#33333350, #33333350) , url('./img/hero-bg.jpg');
        height: 323px;
        background-position: bottom;
        background-size: contain;
        margin-top: 0px;
    }
}