:root {
    --main-color: #A81E00;
    --second-color: #0A2463;
    --gray-color: #605F5E;
}

body {
    overflow-x: hidden;
}

* {
    font-family: 'Zen Kurenaido', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Fredericka the Great', cursive;
}

/* Navbar */
a.nav-link {
    font-size: 20px;
    color: var(--main-color) !important;
}

a.nav-link.active {
    color: var(--main-color) !important;
}

nav.navbar {
    -webkit-box-shadow: 0px 1px 9px 3px rgba(0,0,0,0.8); 
    box-shadow: 0px 1px 9px 3px rgba(0,0,0,0.8);
}

#logo-nav {
    width: 75px;
    height: 75px;
}

button.navbar-toggler {
    border: 2px solid black !important;
}

button.navbar-toggler:focus {
    color: var(--main-color);
}

/* Header */

#header {
    background: linear-gradient(#33333350, #33333350) , url('./img/bg-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;    
    margin-top: 100px;
}

.col-header {
    background-color: var(--gray-color);
    height: 150px;
    width: 200px;
}

.text-second {
    color: var(--main-color) !important;
}

.btn-header {
    color: black;
    background-color: whitesmoke;
    transition: 0.3s linear;
}

.btn-header:hover {
    color: var(--main-color);
}
/* Sezione Servizi */


.hr-mod {
    border: 1px solid var(--main-color);
}

.btn-body {
    background-color: var(--main-color);
    color: whitesmoke;
    transition: 0.5s linear;
    height: 40px;
    width: 150px;
}

.btn-body:hover {
    color: var(--main-color);
    background-color: whitesmoke;
}

/* Sezione chi siamo */

.img-team {
    border-radius: 100%;
    width: 75%;
    padding: 5px;
    border: 2px solid var(--main-color);
}

/* Sezione contatti */

.google-maps {
  position: relative;
  padding-bottom: 50%; 
  height: 0;
  overflow: hidden;
}

.google-maps > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 50% !important;
}

.link-color {
    color: var(--second-color);
}

.link-color:hover {
    color: var(--main-color);
}

.tasto-up-custom {
    background-color: var(--main-color);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#where {
     margin-top: 200px;
 }
/* Footer */

